<% layout('layout') %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Create New Event</h1>
      <%- include('error.ejs') %>
      <form action="/events/new" novalidate method="post">
        <div class="mb-3">
          <label for="eventName" class="form-label">Event Name</label>
          <input
            type="text"
            class="form-control"
            id="eventName"
            name="name"
            required
          />
        </div>
        <div class="mb-3">
          <label for="eventDate" class="form-label">Event Date</label>
          <input
            type="date"
            class="form-control"
            id="eventDate"
            name="date"
            required
          />
        </div>
        <div class="mb-3">
          <label for="eventLocation" class="form-label">Event Location</label>
          <input
            type="text"
            class="form-control"
            id="eventLocation"
            name="location"
            required
          />
        </div>
        <div class="mb-3">
          <label for="eventDescription" class="form-label"
            >Event Description</label
          >
          <textarea
            class="form-control"
            id="eventDescription"
            name="description"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Event</button>
      </form>
    </div>
  </div>
</div>
