<% layout('layout') %>

<div class="container">
  <h1>Welcome to</h1>
  <p>
    This web application was created to fulfill Web Technology module’s
    requirements and does not represent an actual company or service
  </p>
  <br />
  Made by Student: 00013130
  <br />
  <a href="/events">Events</a>
</div>
